@model IEnumerable<CodeFirstDemo.Models.InvoiceDetails>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CantProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CantProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceDetailID })
        </td>
    </tr>
}

</table>
