@model IEnumerable<CodeFirstDemo.Models.Invoices>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDetails.CantProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sellers.IDVendedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDetails.CantProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sellers.IDVendedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceID })
        </td>
    </tr>
}

</table>
